extends ./tpl/layout
block content
	.container
		table.table.table-striped.table-condensed
			tbody
				tr
					td  姓名
					td  metro
				tr
					td  年龄
					td  23	
				tr
					td  爱好
					td  吃
				tr
					td  性格
					td  懒
				tr
					td  专业技能
					td  睡觉
				tr
					td  外语水平
					td  在线翻译
				tr
					td  交通工具
					td  购物车
				tr
					td  政治面貌
					td  难看
						
									