extends ./tpl/layout
block content
	.jumbotron
		.container
			h1 这是一个基于node的web应用
			p.
				可以拷贝这个项目，作为node web应用的种子，用express写后端，jade作为模版引擎。
			a.btn.btn-primary(href='https://github.com/shedong/node-web-seed') github 